* {
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
}

.general {
    width: 100%;
    height: 100vh;
    background-color: #00ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.coutergeneral {
    width: 400px;
    height: 470px;
    background-color: #f5f5dc;
    padding: 18px;
}


h1 {
    text-align: center;
}


h2 {
text-align: center;
}


p {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}


button {
    width: 48%;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-weight: 800;     
}


.b0ne {
    width: 100%;
    background-color: #008000;
    margin-bottom: 40px;  
}


.bTwo, .bFive {
    background-color: #BA2BE2;
}


.bThree, .bSix {
    background-color: #A52A2A;
}


.bFour, .bSev {
    background: #000f;
}
